html{
    scroll-behavior:smooth;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    height: 80px;
}
.navbar_name{
    margin-left: 30px;
    border: 1px solid #000;
    padding: 5px 20px;
    border-radius: 8px;
}
.navbar_menu{
    display: flex;
    gap: 30px;
    font-size: 18px;
    margin-right: 30px;
}
.navbar_menu>div>a{
    color: black;
    text-decoration: none;
}
#photo_menu{
    display: none;
}
.photo_menu{
    width: 50px;
    height: 50px;
    display: none;
}
.header{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 100px 0;
    background-color: aliceblue;
}
.about{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}
.about_text{
    font-size: 28px;
    font-weight: bold;
    margin-left: 50px;
}
.about_text2{
    margin-top: 30px;
    font-size: 18px;
    margin-left: 50px;
    max-width: 600px;
}
.photo{
    width: 100%;
    height: 100%;
    max-width: 350px;
    margin-right: 50px;
}
.line{
    background-color: black;
    height: 2px;
    width: 80%;
    margin: 50px auto;
}
.skills{

}
.skills_text{
    margin-left: 50px;
    font-size: 28px;
    font-weight: bold;
}
.skills_text2{
    margin-top: 30px;
    margin-left: 50px;
    font-size: 18px;
    max-width: 600px;
}
.portfolio{

}
.portfolio_text{
    margin-left: 50px;
    font-size: 28px;
    font-weight: bold;
}
.portfolio_text2>a{
    text-decoration: none;
    color: #000;
    border: 1px #000 solid;
    padding: 20px 20px;
    border-radius: 20px;
    margin-left: 50px;
}
.contact{
    display: flex;

}
.contact_text{
    margin-left: 50px;
    font-size: 28px;
    font-weight: bold;
}
.contact_text2{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}
input{
    max-width: 300px;
    height: 20px;
}
.input_text{
    padding-bottom: 100px;
}
.btn{
    width: 150px;
    height: 35px;
    color: white;
    background-color:brown;
    margin-top: 30px;
}
.icon_item{
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin: 0  auto;
    margin-top: 70px;
}
.icon{
    width: 100%;
    height: 100%;
    width: 80px;
    height: 80px;
}
footer{
    padding: 30px 0 30px 50px;
    margin: 0 auto;
    background-color: aliceblue
}


@media (max-width:992px){
    .navbar_menu{
        display: none;
        flex-direction: column;
        background-color: white;
        position: absolute;
        top:70px;
        right: -20px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        
    }
    .photo_menu{
        display: block;
        position: relative;
    }
    .about{
        flex-direction: column;
    }
    .photo{
        margin-left: 50px;
        max-width: 600px;
    }
    #photo_menu:checked ~ .navbar_menu{
        display: flex;
    }
}

