/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */ 
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  overflow-x: hidden;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
/* button RESET */
button {
  padding: 0;
  border: none 0;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
/* CSS RESET */
*{
  font-family: Roboto,Arial,sans-serif;
}
a_btn {
  cursor: pointer;
}
::-webkit-scrollbar {
  display: none;
  }

  /*以上是CSSreset*/



.title{ 
  padding: 10px;
 position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25px;
  background-color: #fff;
  box-shadow: rgb(0, 0, 0, 0.3) 0px .5px 10px;
  z-index: 2;
}
.title_right{
    display: flex;
    gap: 30px;

}
.btn_item{
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-bottom: 1px solid #eeeeee;
}
.btn{
  padding: 3px 10px;
  font-size: 18px;
  background-color:#f2f2f2 ;
  border-radius: 5px;
  height: 20px;
  margin-right: 10px;
}
.main_media{
  display: flex;
  gap: 15px;
  margin-top: 20px;
  width: 100% ;
  flex-wrap: wrap;
 justify-content: center;
}
.YT_media{
width: 23%;
 display: flex;
 flex-direction: column;
}
.YT_media_img{
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}
.YT_user{
  display: flex;
}
.yt_user_img{
  width: 25px;
  height: 25px;
  object-fit: cover;
  border-radius: 50%;
  padding: 5px;
}
.YT_media p{
  font-size: 10px;
  width: 100%;
  margin-top: 5px;
 font-weight: 500;
 word-wrap: break-word;
}
.media_text{
  color: #999999 ;
}
.shorts{
  width: 100%;
  margin-top: 20px;

}
.shorts span{
    font-weight: bold;
}
.shorts_img{
  width: 10px;
  height: auto;
  object-fit: cover;
  margin-left: 20px;
}
.shorts_item{
  margin-top: 20px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  gap: 20px;

}
.shorts_item_img{
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}
.shorts_item p{
  max-width: 200px;
  font-size: 12px;
  margin-top: 5px;
  font-weight: 500;
}
.shorts_text{
  color: #999999;
}

@media (max-width:996px){
 .YT_media{
  width: 45%;
 }
 #media6{
  display: none;
 }
  #media5{
  display: none;
 }
}

@media (max-width:500px){
 .YT_media{
  width: 95%;
 }
  #media4{
  display: none;
 }

}
